<!DOCTYPE html>
<html>
    <head>
        <title>NL Clicker</title>
        <link rel="stylesheet" type="text/css" href="../public/style.css">
    </head>
    <body>

        <div id="bg">
            <img src="../public/images/background.jpg" alt="background">
        </div>

<img id="hitmarker" src="../public/images/hitmarker.png"> 
<img id="hitmarkerRed" src="../public/images/hitmarkerRed.png"> 
<img id="zombie" src="../public/images/zombie.png">
<div id="zHPbar"> </div>

<br>

<button onmouseover="showDesc1()" onmouseout="hideDesc()" id="firstupgrade">Double Tap <br> 750$</button>
<button onmouseover="showDesc3()" onmouseout="hideDesc()" id="thirdupgrade">Electric Reload <br> 1000$</button>
<button onmouseover="showDesc2()" onmouseout="hideDesc()" id="secondupgrade">Auto Reload <br> 10000$</button>
<button onmouseover="showDesc4()" onmouseout="hideDesc()" id="fourthupgrade">Speed Reload <br> 1500$</button>
<button onmouseover="showDesc6()" onmouseout="hideDesc()" id="sixthupgrade">Stamina Up <br> 2500$</button>
<button onmouseover="showDesc5()" onmouseout="hideDesc()" id="fifthupgrade">Juggernaut <br> 5000$</button>
<button onmouseover="showDesc7()" onmouseout="hideDesc()" id="seventhupgrade">Deadshot <br> 7500$</button>

<div id="perkdescriptionWrapper">
    <p id="perkDescription1">
        Doubles the damage of your starting pistol.
    </p>
    <p id="perkDescription2">
            Automatically reload when your weapon is out of ammo.
        </p>
        <p id="perkDescription3">
                Gain money and damage the zombie when you reload.
            </p>
            <p id="perkDescription4">
                    Increased reload speed from 2.7 seconds to 1.25 seconds.
                </p>
                <p id="perkDescription5">
                        Increases max health to 150 and regenerate health 40% faster.
                    </p>
                    <p id="perkDescription6">
                            Chance to get hit by the zombie when shooting is reduced from 10% to 5%.
                        </p>
                        <p id="perkDescription7">
                                Chance to get a headshot increased from 10% to 35%.
                            </p>
                                            
</div>


<button onmouseover="showGunDesc1()" onmouseout="hideDesc()" id="buygun">Buy Revolver<br> 1000$ </button>

<button id="reload"><img src="../public/images/reload.png"></button>

<button id="turretMenu">Buy Turret <br> $50000</button>

<div id="turretWrapper">
<div class="anim" id="turretUpgrades">
        <button id="turretDamage">Increase Turret Damage</button> <p id="tDmgVal">$50000</p>
        <br id="tMenuBr">
        <button id="turretFireRate">Increase Turret Fire</button> <p id="tFRVal">$50000</p>
</div>
</div>

<div id="wrapper">
<button  id="click"><img id="gun" src="../public/images/m1911.png"></button>
</div>

<img id="turret" src="../public/images/turret.png">

<div id="hudwrapper">
        <h1 id="turretROF">Turret Fire-Rate: 100rpm</h1>
        <h1 id="turretIncreaser">Turret Value = 100</h1>
        <h1 id="increaser">Click Value = 10</h1>
        <h2 id="value">Money: $500</h2>
        <h2 id="ammo">Ammo: 8</h2>
        <h2 id="health">HP: 100</h2>
        <h2 class="rainbow-text" id="zKilled">Zombies Killed: 0</h2>
</div>

<div id="damagetook">You Took 70 Damage!</div>

<script src="../public/script.js"></script>

<audio id="audio" src="../public/sounds/m1911.mp3" ></audio>
<audio id="audio2" src="../public/sounds/empty.mp3" ></audio>
<audio id="audio3" src="../public/sounds/pistolreload.wav" ></audio>
<audio id="audio4" src="../public/sounds/m1911.mp3" ></audio>
<audio id="audio5" src="../public/sounds/electriccurrent.mp3" ></audio>
    </body>
</html>