<!DOCTYPE html>
<html>
    <head>
        <title>NL Clicker</title>
        <link rel="stylesheet" type="text/css" href="../public/style.css">
    </head>
    <body>

        <div id="bg">
            <img src="../public/images/background.jpg" alt="background">
        </div>

<img id="hitmarker" src="../public/images/hitmarker.png"> 
<img id="zombie" src="../public/images/zombie.png">

<br>

<button id="firstupgrade">Double Tap <br> 750$</button>
<button id="thirdupgrade">Electric Reload <br> 1000$</button>
<button id="secondupgrade">Auto Reload <br> 10000$</button>
<button id="fourthupgrade">Speed Reload <br> 1500$</button>
<button id="sixthupgrade">Stamin-Up <br> 2500$</button>
<button id="fifthupgrade">Juggernaut <br> 5000$</button>

<button id="buygun">Buy Revolver<br> 1000$ </button>

<button id="reload">Reload</button>

<button id="turretMenu">Buy Turret <br> $50000</button>

<div id="turretWrapper">
<div class="anim" id="turretUpgrades">
        <button id="turretDamage">Increase Turret Damage</button> <p id="tDmgVal">$100000</p>
        <br id="tMenuBr">
        <button id="turretFireRate">Increase Turret Fire</button> <p id="tFRVal">$100000</p>
</div>
</div>

<div id="wrapper">
<button  id="click"><img id="gun" src="../public/images/m1911.png"></button>
</div>

<img id="turret" src="../public/images/turret.png">

<div id="hudwrapper">
        <h1 id="turretIncreaser">Turret Value = 50</h1>
        <h1 id="turretROF">Turret Fire-Rate: 100rpm</h1>
        <h1 id="increaser">Click Value = 10</h1>
        <h2 id="value">Money: $500</h2>
        <h2 id="ammo">Ammo: 8</h2>
        <h2 id="health">HP: 100</h2>
</div>

<div id="damagetook">You Took 70 Damage!</div>

<script src="../public/script.js"></script>

<audio id="audio" src="../public/sounds/m1911.mp3" ></audio>
<audio id="audio2" src="../public/sounds/empty.mp3" ></audio>
<audio id="audio3" src="../public/sounds/pistolreload.wav" ></audio>
<audio id="audio4" src="../public/sounds/m1911.mp3" ></audio>
    </body>
</html>